@media all and (max-width:1024px)
{

    img
    {
      
     width: 90%;
     

    } 

    ul
    {
        width:auto;
        height: 80px;
        size: auto;
        font-size: 2.5em;
        text-align: center;
    }

    .block1
    {
        width:60%;
        
    }
    
    .block2
    {
        width:90%;
    }

    p
    {
        font-size: 1.2em;
    }
   
    .img2
    {
        
        
        width: 60%;
        height: auto;
        
    }
}      