@media all and (max-width:1024px)
{

    img
    {
      
     width: 90%;
     

    } 

    ul
    {
        width:auto;
        height: auto;
        size: auto;
    }

    .block1
    {
        width:60%;
        
    }
    
    .block2
    {
        width:90%;
    }

    p
    {
        font-size: 1.2em;
    }